.main_box {
    width: 100vw;
    height: 100vh;
    background: url('/static/images/bg.png') no-repeat center;
    background-size: cover;
    overflow: hidden;
    padding: 10px;
}

* {
    font-size: .14rem;
}

.header {
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    color: #7eb7cb;
    background: #04101e;
    line-height: 58px;
}

.header .left {
    display: flex;
}

.header .left>div {
    font-size: .18rem;
}

.header .center {
    font-size: .36rem;
    font-weight: bold;
    background-image: -webkit-linear-gradient(top, #7eb7cb, #3c5c82);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.week {
    padding-left: 12px;
}

.weather {
    color: #fff;
    display: flex;
    flex-flow: column;
}

.content {
    height: calc(100vh - 58px - 24%);
    display: flex;
    margin-top: .05rem;
}

.content>div {
    height: 100%;
}

.content .center {
    width: 80%;
    margin-right: .03rem;
}

.content .center .item {
    height: calc(100% - 3px);
    padding: .1rem;
}

.content .right {
    width: 20%;
    margin-left: .03px;
    display: flex;
    flex-flow: column;
}

.content .right .item {
    flex: 1;
    padding: .1rem;
}

.content .left {
    width: 38%;
    display: flex;
}

.content .left .inner_right>*,
.content .left .inner_left>* {
    flex: 1;
    padding: .1rem;
}

.item {
    background-color: rgba(17, 39, 60, .3);
    border: solid 1px rgba(60, 92, 130, .4);
    margin-right: 3px;
    margin-bottom: 3px;
}

.head_block .level,
.module_title {
    font-size: .18rem;
    color: #82b2c6;
}
.satisfaction {}

.satisfaction .inner_wrap {}

.satisfaction .inner_wrap h4 {
    color: #e1cd5d;
    font-size: .24rem;
}

.satisfaction .inner_wrap p {
    padding-top: .1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}

.chartWrap .module_title span {
    color: #fff;
    font-size: .14rem;
}

.chartWrap .module_title {
    display: flex;
    justify-content: space-between;
}

.chartWrap {
    display: flex;
    flex-flow: column;
}

.chartWrap .chart_wrap {
    flex: 1;
}

.chartWrap .chart_wrap>div:first-child {
    height: 100%;
    width: 100%;
}

.footer {
    height: 24%;
    display: flex;
}

.footer>*,
.footer>* .item {
    height: 100%;
}

.footer>* .item {
    padding: .1rem;
}

.footer .left,
.footer .center {
    width: 35%;
}

.footer .right {
    width: 30%;
}

.chart_wrap.map_wrap {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chart_wrap.map_wrap .map_box {
    width: initial !important;
    height: initial !important;
    position: relative;
}

.chart_wrap.map_wrap .map_box>div {
    position: absolute;
}

@keyframes pulse {
    0% {
        width: 8px;
        height: 8px;
    }

    40% {
        width: 40px;
        height: 40px;
        opacity: 1;
    }

    100% {
        width: 70px;
        height: 70px;
        opacity: 0;
    }
}
.chart_wrap.map_wrap img {
    max-height: calc((100vh - 58px - 24%) * .9);
    max-width: 100%;
}

.tourists .chart_wrap {
    display: flex;
    flex-flow: column;
    flex: .9;
}

.tourists ul.table_head {
    line-height: .36rem;
    font-size: .16rem;
    font-weight: bold;
}

.tourists ul.table_body {
    flex: 1;
    display: flex;
    flex-flow: column;
}

.tourists ul.table_body li {
    flex: 1;
}

.tourists ul li {
    display: flex;
    align-items: center;
}

.tourists ul li span {
    flex: 1;
    text-align: center;
    color: #a5bcd0;
}

.table_body li:nth-of-type(even) {
    background: rgba(46, 82, 130, .5);
}
.legend{
    width: 150px;
    position: absolute;
    right: .15rem;
    bottom: .15rem;
    color: #82b2c6;
    padding: .05rem;
    border: solid 1px rgba(60, 92, 130, .4);
    
}
.legend p.colorBar {
    width: 90%;
    margin: .1rem 0 .1rem 5%;
    height: 8px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    background-image: linear-gradient(to right, #3de5cc, #f37016 50%, #be0c18);
}
.legend p.text {
    display: flex;
    justify-content: space-between;
}
.legend p.text span:nth-of-type(1) {
    color: #3de5cc;
}
.legend p.text span:nth-of-type(2) {
    color: #f37016;
}
.legend p.text span:nth-of-type(3) {
    color: #be0c18;
}

.chart_wrap.map_wrap, 
.chart_wrap.map_wrap .map_box,
.chart_wrap.map_wrap .map_box {
    width: 100% !important;
    height: 100% !important;
    min-height: 450px;
    position: relative !important;
}


.leaflet-tile-container img {
    max-width: none !important;
    max-height: none !important;
    display: block !important;
}

#map {
    height: 450px !important;
    width: 100% !important;
    z-index: 99 !important;
    background: #04101e !important;
    border-radius: 15px;
    overflow: hidden;
    height: 100% !important;
    min-height: 500px;
}

.leaflet-control-zoom a {
    font-size: 20px !important;
    line-height: 26px !important;
}