<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TrashDet 垃圾拾捡机器人管理系统</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/common.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
</head>

<body>
    <div class="layout-main">
        <div class="layout-header">
            <div class="layout-header-left">
                <div class="header-date"></div>
                <div class="header-week">载入中...</div>
            </div>
            <div class="layout-header-center">TrashDet 垃圾拾捡机器人管理系统</div>
            <div class="layout-header-right">
                <p>系统版本: V 2.0.0</p>
            </div>
        </div>

        <div class="layout-content">
            <div class="layout-left">
                <div class="layout-inner-left" style="width: 100% !important;">
                    <div class="panel stats-trash-type">
                        <div class="panel-title">垃圾种类分布统计</div>
                        <div class="chart-wrap">
                            <div id="trashTypeChart" style="width:100%; height:220px;"></div>
                        </div>
                    </div>

                    <div class="panel robot-status robot-list">
                        <div class="panel-title">机器人在线状态</div>
                        <div class="chart-wrap">
                            <ul class="list-head">
                                <li>
                                    <span>设备ID</span>
                                    <span>名称</span>
                                    <span>实时状态</span>
                                </li>
                            </ul>
                            <ul class="list-body" id="robotListContainer">
                                <li class="list-item"><span>载入中...</span></li>
                            </ul>
                        </div>
                    </div>

                    <div class="panel control-pages">
                        <div class="panel-title">控制面板</div>
                        <div class="chart-wrap">
                            <ul class="list-head">
                                <li>
                                    <a href="{{ url_for('web_bp.robot_admin') }}">
                                        <div class="icon icon-robot"></div>
                                        <div class="control-title">机器人管理</div>
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ url_for('web_bp.result') }}">
                                        <div class="icon icon-task"></div>
                                        <div class="control-title">任务管理</div>
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ url_for('web_bp.stats_page') }}">
                                        <div class="icon icon-data"></div>
                                        <div class="control-title">数据分析</div>
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ url_for('web_bp.upload') }}" class="disabled">
                                        <div class="icon icon-settings"></div>
                                        <div class="control-title">手动上传</div>
                                    </a>
                                </li>
                            </ul>

                        </div>
                    </div>
                </div>
            </div>

            <div class="layout-center">
                <div class="panel map-main">
                    <div class="panel-title">垃圾分布实况地图</div>
                    <div class="chart-wrap map-wrap">
                        <div class="map-box">
                            <div id="map" style="width: 100%; height: 100%;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/echarts@5.4.3/dist/echarts.min.js"></script>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>

    <script src="{{ url_for('static', filename='js/rem.js') }}"></script>
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
    <script src="{{ url_for('static', filename='js/map.js') }}"></script>
</body>

</html>