<!DOCTYPE html>
<html lang="zh">

<head>
  <meta charset="utf-8">
  <title>登录 - TrashDet</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
  <div class="card">
    <h2>TrashDet 登录</h2>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="msg">{{ messages[0] }}</div>
    {% endif %}
    {% endwith %}

    <form method="post" action="/auth/login">
      <input name="username" placeholder="用户名" required>
      <input name="password" type="password" placeholder="密码" required>
      <button class="btn" type="submit">登录</button>
    </form>

    <div class="row">
      <a class="a" href="/auth/register">去注册</a>
      <a class="a" href="/forget">忘记密码</a>
    </div>
  </div>
</body>

</html>